
@import url('https://fonts.googleapis.com/css?family=Rubik:300,300i');


body{
    // padding: 50px;
    background: #143b4c;
    // min-height: 10000px;
    // width: 100%;
    font-size: 18px;
}
.topnav{
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 5;
}
.topnav ul{
    display: flex;
    // font-family: "Varela Round", sans-serif;
    // position: absolute;
    // top: 2em;
    // left: 1em;
    margin: 1em;
    justify-content: center;
    align-items: center;
    padding: 0;
    li{
        list-style: none;
        margin: 0 0.5em;
        a{
            color: #143b4c;
            text-decoration: none;
            border-bottom: 2px solid #143b4c;
            padding-bottom: 5px;
            transition: padding-bottom .2s;
            font-size: 0.85em;
            &:hover{
                text-decoration: none;
                color: white;
                border-bottom-color: white;
                padding-bottom: 2px;
            }
        }
    }
}

.content{
    // margin: 30em 2em 0 2em;
    // margin: 15em 2em 0 2em;
    margin: 15em 0 0 0;
    top: 30vh;
    padding: 0 10px;
    position: relative;
    z-index: 10;
    min-height: 500px;
    // display: flex;
    // justify-content: center;
    // justify-content: flex-start;
    background: $navy;
    width: 100%;

    @media screen and (min-width: 768px){
        margin-top: 30em;
    }
}

.layer-up{
    box-shadow: 0px 4px 20px -4px rgba(0,0,0,0.75);
}

.photo-container{
    // position: absolute;
    position: relative;
    overflow: hidden;

    @media screen and (min-width: 992px){
        width: 75%;
    }

    @media screen and (max-width: 991px){
        top: -10em;
    }

    &.right{
        right: 0;
    }
    &.left{
        left: 0;
    }

    img{
        border: 1px solid $navy;
    }
}

.w-50{
    width: 100%;
    @media screen and (min-width: 992px){
        width: 50%;
    }
}

.w-75{
    width: 100%;
    @media screen and (min-width: 992px){
        width: 75%;
    }
}

.w-100{
    width: 100%;
}

.w-25{
    width: 25%;
}

.m{
    &.top{
        &.t-1{
            margin-top: 1em;
        }
        &.t-2{
            margin-top: 2em;
        }
        &.t-3{
            margin-top: 3em;
        }
        &.t-4{
            margin-top: 4em;
        }
        &.t-5{
            margin-top: 5em;
        }
        &.t-6{
            margin-top: 6em;
        }
        &.t-7{
            margin-top: 7em;
        }
        &.t-8{
            margin-top: 8em;
        }
        &.t-9{
            margin-top: 9em;
        }
        &.t-10{
            margin-top: 10em;
        }
    }
}

.card-container{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    min-height: 300px;
    // margin-left: 3em;

    &.left{
        position: relative;
        left: 0;
        @media screen and (min-width: 992px){
            position: absolute;
        }
    }

    &.right{
        position: relative;
        right: 0;
        @media screen and (min-width: 992px){
            position: absolute;
            // margin-right: 3em;
        }
    }

    .btn{
        font-size: 1em;
        padding: 6px 2em;
    }
}

.center{
    margin: 0 auto;
}

.card{
    padding: 1em;
    margin: 1em;
    background: white;
    border: 1px solid $navy;
    color: $navy;
    border: 1px solid $navy;


    .card-content{
        background: white;
        opacity: 1;
        padding: 10px;
        // text-align: center;
        border: 1px solid $navy;
        font-family: "Rubik", sans-serif;
        @media screen and (min-width: 768px){
            padding: 1em;
        }

        .card-heading{
            margin-bottom: 1em;
            .primary-heading{
                font-size: 2em;
                text-transform: uppercase;
                display: block;
                margin-bottom: 10px;
            }
        }
    }

    h3,h4{
        margin: 0;
    }
    p{
        margin: 0;
        padding-bottom: 1em;
    }

    h3{
        font-weight: 400;
        font-size: 2em;
        text-transform: uppercase;
        letter-spacing: 5px;
    }
}

.wrapper{
    width: 100%;
    height: 100%;
    position: absolute;
    // background: linear-gradient(to bottom, #f4791f 20%, #303b47 95%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: rgb(242,157,89);
    background: linear-gradient(180deg, rgba(242,157,89,1) 38%, rgba(229,85,14,1) 51%);
    z-index: 0;
}

.mtn{
    position: absolute;
    // opacity: 0.7;
    // top: 50%;
    // top: 55vh;
    top: 80vw;
    min-height: 300px;
    left: 0;
    max-width: 100%;
    width: 100%;
    z-index: 1;
    background: $navy;
    @media screen and (min-width: 768px){
        top: 55vh;
        min-height: 1000px;
    }
    @media screen and (min-width: 992px){
        top: 70vh;
    }
    img{
        position: absolute;
        top: -4.5em;
        @media screen and (min-width: 768px){
            top: -10em;
        }
        @media screen and (min-width: 1300px){
            top: -15em;
        }
    }
}

.fixed{
    position: fixed;
}

$sun-width: 80vh;
.sun-wrapper{
    position: absolute;
    left: 0;
    width: 100%;
    margin-top: -1em;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sun{
    // border-radius: 50%;
    // background: url('../images/sun-full.svg') no-repeat center;
    background: url('../images/sun2.svg') no-repeat center;
    opacity: 0.5;
    width: 45%;
    height: $sun-width;
    // position: absolute;
    // left: 50%;
    // margin-left: -50%;
    // transform: translateX(-50%);
    // margin-top: 5%;
    // margin-top: 10vh;
    // margin-top: 5vh;
    margin-top: 3vw;
    // background-blend-mode: overlay;
    // @media screen and (min-width: 2000px){
    //     width: 40%;
    // }
    @media screen and (min-width: 768px) and (max-width: 992px){
        width: 80%;
        margin-top: -2em;
    }
    @media screen and (min-width: 992px) and (max-width: 1600px){
        width: 60%;
    }
    @media screen and (max-width: 767px){
        background: url('../images/sun2.svg') no-repeat center;
        opacity: 0.5;
        width: 95%;
        height: 42vh;
        // margin-top: 10%;
    }
}

.headline{
    // margin-top: 10%;
    // margin-top: 10vh;
    margin-top: 5vw;
    top: 15%;
    color: #143b4c;
    z-index: 1;
    position: relative;
    transform: rotate(-7deg);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: "Rubik", sans-serif;
    font-style: italic;

    @media screen and (min-width: 768px){
        margin-left: -1em;
        margin-top: 8vw;
    }

    @media screen and (min-width: 1800px){
        margin-top: 5vw;
    }

    %line{
        content: "";
        background: #143b4c; 
        position: absolute;
        display: block;
        height: 2px;
    }
    h1{
        font-weight: 300;
        font-size: 2.25em;
        margin: 0;
        line-height: 1;
        // font-family: "Karla", sans-serif;
        text-transform: uppercase;
        position: relative;
        margin-bottom: 20px;

        @media screen and (min-width: 768px){
            font-size: 4em;
        }
        @media screen and (min-width: 992px){
            font-size: 5em;
        }
        @media screen and (min-width: 1800px){
            font-size: 7em;
        }

        &::after{
            @extend %line;
            width: 90%;
            top: -10px;
            left: 5%;
        }
        &::before{
            @extend %line;
            // width: 35%;
            width: 50%;
            // right: 34px;
            right: 2.35vw;
            // top: -40px;
            top: -4vh;
        }

        div{
            &::after{
                @extend %line;
                width: 90%;
                left: 5%;
                bottom: -1vh;
            }
        }
    }
    h2{
        font-size: 1em;
        font-weight: 300;
        // margin: 0 0 0 5em;
        // margin: 0 0 0 8em;
        margin: 0 0 0 30vw;
        position: relative;
        text-align: right;

        @media screen and (min-width: 768px){
            font-size: 2em;
        }

        &::after{
            @extend %line;
            width: 90%;
            left: -100%;
            // bottom: 20px;
            bottom: 45%;
        }
    }
}

.paralaxThis{
    position: absolute;
    // box-shadow: 0 12px 24px rgba(0,0,0,.2);
    // width: 28%;
    transition: all ease-out 100ms;
    -webkit-transition: all ease-out 100ms;
    -moz-transition: all ease-out 100ms;
    -o-transition: all ease-out 100ms;
}

.top-right.links .btn{
    position: absolute;
    top: 1em;
    right: 1em;
    z-index: 2;
    @media screen and (max-width: 767px){
        display: none;
    }
}

.btn:visited{
    color: white;
}

#rsvp{
    // margin-top: 0;

    .card{
        @media screen and (min-width: 768px) and (max-width: 992px){
            margin-top: 10em;
        }
    }
}

.attendees-list{
    padding: 0;
    margin: 0;
    li{
        list-style: none;
        padding: 1em 0;
        margin: 0;

        &:nth-child(2n){
            background: rgba(0, 0, 0, 0.1);
        }
    }
}

.registry{
    display: flex;
    justify-content: center;
    align-items: stretch;

    @media screen and (max-width: 991px){
        display: block;
    }

    .registry-block{
        width: 33.33%;
        // width: 25%;
        display: flex;
        align-items: stretch;
        flex-direction: column;
        padding-top: 1em;

        @media screen and (max-width: 991px){
            width: 100%;
            display: block;
        }

        small{
            display: inline;
        }
    }
}

.registry-link{
    font-size: 6em;
    color: black;
    display: block;
    width: 50%;
    padding: 10px 10px 20px 15px;
    align-self: center;
    margin: 0 auto;

    @media screen and (max-width: 991px){
        width: 100%;
    }
    &:hover{
        color: black;
        // background: $navy;
    }
}

.guest-heading{
    h3{
        margin: 0;
    }
}

.alert{
    &.wedding-alert{
        position: absolute;
        top: 5em;
        left: 50%;
        transform: translateX(-50%);
    }
}

.travel{
    ul{
        padding: 0;
        margin: 0;
    }
    li{
        list-style: none;
    }
}

.img-constrain{
    height: 0;
    background-size: cover;
    padding-bottom: 100%;
    background-position-x: 50%!important;
    &.sixteen-nine{
        padding-bottom: 56.29%;
    }
    &.one-one{
        padding-bottom: 50%;
        @media screen and (max-width: 991px){
            padding-bottom: 100%;
        }
    }
    &.pos-y-minus-50{
        background-position-y: -50px!important;
    }
    &.pos-y-minus-100{
        background-position-y: -100px!important;
    }
    &.pos-y-minus-150{
        background-position-y: -150px!important;
    }
    img{
        position: absolute;
        width: 1px;
        height: 1px;
        z-index: 0;
    }
}

#shuttle{
    font-size: 1em;
}

.party-list{
    .name{
        font-size: 2em;
    }
    .description{
        display: block;
    }
}